.modal-dialog {
    .modal-body {
        .confirmation {
            .fa {
                display: block;
                margin: 0 auto;
                border-radius: steps(4);
                width: steps(6);
                background-color: $color-background-darker;
                color: $color-text-inverted-lightest;
                font-size: steps(4);
                line-height: steps(4);
                padding: steps(1);
                text-align: center;
                margin-bottom: steps(2)
            }
        }
    }
}
